.padding {

  padding-top: 70px;
  padding-bottom: 50px;
}

.sanyog:hover .effect{
  opacity: 1;
}
.sanyog{
  position: relative;
  margin-left:20px;
  
}

.effect {

  color:blue;
  font-size: 20px;
  position:absolute;
  opacity:0;
  top: 40%;
  left: 40%;
  
  
  
}
.rounded{
  opacity: 1;
  
  
}

.sanyog:hover .rounded {
  opacity: 0.5;
  color: blue;
}


.navbar .nav-item:not(:last-child) {
  margin-right: 35px;
}

.seprate{
  margin-left: 900px;
}
.seprate a{
  margin: 0px 0px;
}
